/** @format */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}
header {
  text-align: center;
  background-color: rgb(54, 54, 54);
  padding: 75px;
  color: white;
}
h1 {
  font-size: 40px;
}
p {
  text-align: center;
  padding: 10px;
}
img {
  width: 150px;
  position: absolute;
  left: 50px;
  top: 10px;
}
.content {
  width: 100vw;
  text-align: center;
}
.paragraphs {
  margin: auto;
  width: 50vw;
}
button {
  font-size: 20px;
  padding: 10px;
  width: 150px;
  background-color: #6d0020;
  color: white;
  border: none;
  border-radius: 20px 0 20px 0;
  transition: 0.1s;
}
button:hover {
  border-radius: 0 20px 0 20px;
  cursor: pointer;
  transform: scale(1.1);
}
button:active {
  transform: translateY(10px);
}
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  position: absolute;
  bottom: 0;
  background-color: #6d0020;
  color: white;
}
