/** @format */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  background-color: rgb(54, 54, 54);
  padding: 75px;
  color: white;
}
h1 {
  font-size: 40px;
}
p {
  text-align: center;
  padding: 10px;
}
.content {
  margin: auto;
  width: 50vw;
}
footer {
  text-align: center;
  padding: 25px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: #6d0020;
  color: white;
}
